.container-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    width: 100vw;
    height: 100vh;
    background-color: #eee;
  }

  .user-login {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px 11px;
    /* height: 240px; */
    width: 400px;
    border-radius: 15px;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    background-color: #fff;
    margin-top: 20px;
  }

  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  } 

  .password-recovery-link {
    align-self: center;
    color: #070653;
  }