* {
  margin: 0;
  padding: 0;
}

.patient-card.status {
  height: 225px;
  width: 260px;
  background-color: #F90095;
  z-index: 1;
}

.patient-card-container {
  height: 225px;
  width: 244px;
  padding: 0;
  border-radius: 10px;
  margin: 30px;
  box-shadow: rgba(0, 0, 0, 0.20) 2.4px 2.4px 3.2px;
  z-index: 1;
  background-color: #FFFFFF;
  cursor: pointer;
}

.patient-card-header {
  height: 87px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.patient-card-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.30) 2.4px 2.4px 3.2px;
  position: relative;
  left: 76px;
  bottom: 47px;
  background-color: #FFFFFF;
}

.overflow-patients-names {
  white-space: nowrap;
  width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fa-beat {
  animation: fa-beat 5s ease infinite;
}

@keyframes fa-beat {
  0% {
    transform:scale(1);
  }
  5% {
    transform:scale(1.25);
  }
  20% {
    transform:scale(1);
  }
  30% {
    transform:scale(1);
  }
  35% {
    transform:scale(1.25);
  }
  50% {
    transform:scale(1);
  }
  55% {
    transform:scale(1.25);
  }
  70% {
    transform:scale(1);
  }
}

.site-layout-background {
  background-color: #FFF;
}
